@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Miniasta</h1>
    <p class="lead">Check your latest followers and get a insight for your your instagram account.</p>
    <p><a href="../Account/Login" class="btn btn-primary btn-lg">Login Now &raquo;</a></p>
</div>

